# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env
.env.local

# Database
database/*.db
database/*.sqlite
database/*.sqlite3
!database/.gitkeep

# Uploaded Data
data/raw/*
data/processed/*
data/vectorstore/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/vectorstore/.gitkeep

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log